[Unit]
Description=BitrixIntegration

[Service]
Type=simple
Restart=always
WorkingDirectory=/home/sgambaryan/b
ExecStart=/home/sgambaryan/b/venv/bin/python3 /home/sgambaryan/b/main.py

[Install]
WantedBy=multi-user.target
